<!DOCTYPE html>
<html>
  <head>
    <title>Overkill’s The Walking Dead</title>
    <link rel='stylesheet' href='/stylesheets/games.css' />
  </head>
<body>
<div id="container">
   <div id="header">
     Здесь должна быть навигация
   </div>
     <div id="content">
        <div id = "img1"><a href="firstgame"><img src="images\1531138386_overkills-the-walking-dead.jpg" alt=""></a></div>
          <div id="information">
              <p>Дата выпуска: 6 ноября 2018<br>
              <br>
              Разработчик: OVERKILL - a Starbreeze Studio<br>
              <br>
              Издатель: Starbreeze Publishing AB<br>
              <br>
              Платформы: PC;<br>
            <br>
          </div>
            <div id="description">
              <p>Описание: Студия Overkill начала активно разрабатывать новый шутер с элементами RPG и мультиплеером, который будет иметь название Overkill’s The Walking Dead. Как можно догадаться по названию игры, события там будут проходить во вселенной «Ходячих Мертвецов», а значит, игра должна быть максимально интересной и необычной. Ранее разработчики от Overkill выпустили не менее уникальный и интересный проект, который называется PayDay 2. Но будет ли новый проект чем-то необычным или же нас ждёт игра с немного измененным сеттингом?<br><br>
              Сами разработчики утверждают, что они использовали абсолютно новый движок, который будет требовать от пользовательского ПК больших мощностей, но при этом он будет выдавать реалистичную стрельбу и яркую картинку, которая порадует любого игрока. Помимо прочего, любого пользователя порадует также и то, что он сможет встретить старых добрых персонажей, а также попробовать поиграть своим любимым. Выбрав для себя оптимальное вооружение, вы можете объединиться в команду из нескольких реальных игроков, чтобы отстреливать толпы зомби. Геймплей игры, конечно, будет похож на многие шутеры такого типа, но при этом он будет обладать уникальным сеттингом и атмосферой, которой больше нигде нет.<br><br>
              В плане оружия Overkill’s The Walking Dead обещает быть невероятно богата. Самостоятельно приобретение оружия, его модификация, а также много других возможностей делают из игры настоящую площадку, на которой в дальнейшем можно будет часами сидеть, наслаждаясь прекрасным геймплеем. Подобрав для себя наиболее успешный стиль ведения боя, вы сможете помогать своей команде выжить на нескольких различных картах. Режим совместного прохождения миссий тоже очень хорош, ведь вместе со своим другом вы можете узнать альтернативную историю «Ходячих Мертвецов».<br><br></p>
                <h4>Системные требования:<br>
                Операционная система: Windows 7, 8, 10 (64-bit)<br>
                Процессор: Intel Core i5-4460<br>
                Оперативная память: 6 GB<br>
                Видеокарта: GeForce GTX 750 Ti<br>
                Свободное место на жестком диске: 37.3 GB<br><br></h4>
                Особенности игры:
              Новая история в мире The Walking Dead. В OVERKILL’s The Walking Dead игроки познакомятся с Эйданом, Майей, Грантом и Хэзер — выжившими, которых объединяет готовность сделать все возможное, чтобы выжить в этом постапокалиптическом мире. Вдохновленная богатым миром произведений Роберта Киркмана, OVERKILL’s The Walking Dead проливает свет на некоторые из событий, происходящих в Вашингтоне.<br><br>
              Добро пожаловать на вашингтонскую пустошь. Исследуйте столицу после эпидемии и узнайте, что произошло. Отправляйтесь в путешествие по заброшенным кварталам города и исследуйте районы бывшей столицы в поисках припасов, снаряжения и выживших. Ступайте тихо, ведь любой звук могут услышать как мертвые, так и живые, а любая ошибка может привлечь орду ходячих.<br><br>
              Импровизируйте, адаптируйтесь, побеждайте. В мире, в котором все производства остановились, игрокам придется научиться пользоваться тем, что они найдут. Постапокалиптический мир The Walking Dead — суровое место, в котором сложно найти что-то в рабочем состоянии. По мере поисков припасов игроки поймут, что оружие и патроны могут быть в разном состоянии, а найти их не так то просто. Без должного ухода огнестрельное оружие заклинит, глушитель сломается, а мутные линзы прицела усложнят стрельбу.<br><br>
              Дом там, где ваш лагерь. Иногда неприятности будут сами вас находить. Защищайтесь против орд ходячих, когда они найдут ваш лагерь. Укрепляйте оборону и уничтожайте волны ходячих, обеспечивая безопасность жителей лагеря.<br><br>
              Думайте. Боритесь. Выживайте. У каждого игрового персонажа есть свои уникальные дерево умений, роль в отряде, игровой стиль и биография. У всех них одна цель, в достижении которой выживание и командная работа — превыше всего. Здесь все наполнено действием: осторожно и тихо убирайте врагов рукопашными атаками или палите изо всех стволов. Вам нужно научиться импровизировать, ведь ситуация может измениться в любую секунду, а орда ходячих всегда поблизости.<br><br>
              История продолжается. Разработка OVERKILL’s The Walking Dead продолжится после выхода, и игроков ждут новые сюжетные линии, места, оружие и многое другое. Кампания по развитию игры основана на философии OVERKILL Software — постоянное развитие игры вместе с сообществом игры.
          </div>
     </div>
</div>
</body>
</html>
