<!DOCTYPE html>
<html>
  <head>
    <title>Overkill’s The Walking Dead</title>
    <link rel='stylesheet' href='/stylesheets/games.css' />
  </head>
<body>
<div id="container">
   <div id="header">
     Здесь должна быть навигация
   </div>
     <div id="content">
          <div id="img1">
            <img src="images\1530615711_shadow-of-the-tomb-raider.jpg" alt="">
          </div>
          <div id="information">
              <p>Дата выпуска: 14 сентября 2018 <br>
              <br>
              Разработчик: Crystal Dynamics, Eidos Montreal, Nixxes Software<br>
              <br>
              Издатель: Square Enix<br>
              <br>
              Серия: Tomb Raider<br>
              <br>
              Платформы: PC;<br>
            <br>
          </div>
          <div id="description">
            <p>Описание: Огромная популярность недавно вышедшей игры про Лару Крофт побудила разработчиков активно разрабатывать следующую часть игры, которая обещает стать еще более интересной и насыщенной по сравнению с прошлой частью игры. Сюжетная линия станет еще более интересной, а количество различных головоломок будет увеличено. Но чем еще будут удивлять всех нас создатели игры в Shadow Of The Tomb Raider?<br><br>

            Графика станет еще более красочной, а для увеличения показателя реалистичности создатели игры решили, что нужно будет адаптировать игру для шлемов VR, что наверняка даст игре еще большей популярности. Помимо прочего, само качество изображения станет в разы лучше, что позволит вам ощутить себя полноценным участником всех событий. Спецэффекты в Shadow Of The Tomb Raider также были улучшены, ведь использование последней библиотеки DirectX 12 предоставляет куда больше возможностей для кинематографичный эффектов, чем в более старых версиях. Это лишь небольшой процент тех изменений в графике, которые предстоят в новой части игры про Лару Крофт, так что ждём самой игры, где и сможем насладиться и прекрасным качеством игры, и самой графикой. <br><br>

            Геймплейно игра может порадовать более масштабными локациями. Разумеется, это не самое главное в игре подобного типа, но мы можем быть уверены в том, что и сюжетная линия не подведет. В прошлой части головоломки и сюжет были на высоком уровне, благодаря чему сама игра стала очень успешной. Разработчики утверждали, что Shadow Of The Tomb Raider будет удивлять не только старинными историями, но и деталями из жизни самой Лары, что, несомненно, должно сделать игру более интересной и насыщенной, так что можем быть абсолютно уверены в качестве новой игры о приключениях Лары Крофт.<br><br></p>

              <h4>
                Системные требования:<br>
                Операционная система: Windows 7, 8, 10 (64-bit)<br>
                Процессор: i3-3220 INTEL or AMD Equivalent<br>
                Оперативной памяти: 8 GB<br>
                Видеокарта: Nvidia GTX 660/GTX 1050 or AMD Radeon HD 7770<br>
                Звуковая карта: Совместимое с DirectX<br>
                Свободного места на жестком диске: 38.6 GB  <br>
              </h4>
              Особенности игры:<br><br>
              ▪ Научитесь выживать в самом опасном месте на земле: Выживите в беспощадных джунглях и покорите их. Исследуйте подводные просторы со всеми их расщелинами и извилистыми туннелями.<br><br>
              ▪ Станьте частью джунглей: Когда врагов много и они сильнее, выход один – стать умнее их. Лара учится у джунглей. Учится нападать, когда никто не ожидает, исчезать в зарослях, словно ягуар, маскироваться с помощью грязи, наводить ужас на врагов и сеять хаос.<br><br>
              ▪ Спуститесь в темные и страшные гробницы: Таких жутких гробниц вы еще не видели. Чтобы добраться до них, требуется недюжинная сноровка, а внутри вас поджидают смертоносные ловушки.<br><br>
              ▪ Познакомьтесь с живой историей: Отыщите тайный город и исследуйте крупнейшую центральную локацию в серии Tomb Raider.
          </div>
     </div>
</div>
</body>
</html>
