<!DOCTYPE html>
<html>
  <head>
    <title>Игровые новинки 2018 года</title>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
  </head>
<body>
<div id="container">
   <div id="header">
     Здесь должна быть навигация
   </div>
     <div id="content">

       <div id = "img1"><a href="firstgame"><img src="images\1531138386_overkills-the-walking-dead.jpg" alt=""></a></div>
       <div id="text1"><figcaption><a href="firstgame">Overkill’s The Walking Dead</a></figcaption></div>

       <div id = "img2"><a href="secondgame"><img src="images\1530615711_shadow-of-the-tomb-raider.jpg" alt=""></a></div>
       <div id="text2"><figcaption><a href="secondgame">Shadow of the Tomb Raider</a></figcaption></div>

       <div id = "img3"><a href="thirdgame"><img src="images\1530705926_we-happy-few.jpg" alt=""></a></div>
       <div id="text3"><figcaption><a href="thirdgame">We Happy Few</a></figcaption></div>
     </figure>
     </div>
</div>
</body>
</html>
