<!DOCTYPE html>
<html>
  <head>
    <title>Overkill’s The Walking Dead</title>
    <link rel='stylesheet' href='/stylesheets/games.css' />
  </head>
<body>
<div id="container">
   <div id="header">
     Здесь должна быть навигация
   </div>
     <div id="content">
          <div id="img1">
            <img src="images\1530705926_we-happy-few.jpg" alt="">
          </div>
          <div id="information">
              <p>Дата выпуска: 10 августа 2018<br>
              <br>
              Разработчик: Compulsion Games<br>
              <br>
              Издатель: Gearbox Publishing<br>
              <br>
              Платформы: PC;<br>
            <br>
          </div>
          <div id="description">
            <p>Описание: We Happy Few — это история небольшой группы отважных и в меру ужасных людей, пытающихся сбежать от жизни в городе Wellington Wells, построенной на радостном отрицании. В этой альтернативной Англии 1960-х в основе всего лежит соответствие нормам. Вы должны бороться или слиться с одурманенными наркотиком жителями, большая часть которых недобра к людям, которые не подчиняются их не вполне нормальным правилам.<br><br>
            Раскрывайте темную историю ретрофутуристического города, разыгрывая переплетающиеся истории трех тихих бунтарей, жителей Wellington Wells. Каждый из них проявляет свои сильные стороны и слабости, смотря на свое прошлое, готовясь к будущему и участвуя в действиях, которые нарушают спокойствие искусственно наполненного энтузиазмом общества.<br><br></p>
              <h4>
                Системные требования:<br>
                Операционная система: Windows 7, 8, 10 (x64)<br>
                Процессор: Triple-core Intel or AMD, 2.0 GHz or faster<br>
                Оперативная память: 8 GB RAM<br>
                Видеокарта: NVIDIA GeForce 460 GTX or AMD Radeon 5870 HD series or higher Mobile: NVIDIA GeForce GTX 580M or higher / (DirectX: Версии 11)<br>
                Звуковая карта: Звуковое устройство, совместимое с DirectX 9.0с<br>
                Свободное место на жёстком диске: 10,6 GB<br>
              </h4>

          </div>
     </div>
</div>
</body>
</html>
